<div class="c-card">
  <h3 class="c-card__title">{{ title }}</h3>

  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="c-card__image">
  {% endif %}

  <p class="c-card__body">{{ body }}</p>

  {% if link %}
    {% include "@componentheme/components/button/button.twig" with {
      label: 'Learn More primary',
      variant: 'primary'
    } %}
  {% endif %}
</div>