custom_entity_example.custom_entity_node_type.*:
  type: config_entity
  label: 'custom_entity_node type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
